<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <form class="navbar-form navbar-left">
       <div class="form-group">
         <input (input)="updateName()" [(ngModel)]="name"
                class="form-control col-md-8" name="search" placeholder="Name"  />
        <input (input)="updateRating()" (keyup)="updateRating()" type="number" 
                 class="form-control col-md-8 rating" name="rating" 
                 min="1" max="5" [(ngModel)]="rating" placeholder="Min Rating"  />
       </div>
     </form>
     <form class="navbar-form navbar-right form-button">
       <div class="form-group">
         <button class="btn btn-raised btn-inverse" (click)="logOut()">Log Out</button>
       </div>
     </form>
   </div>
 </div>
</div>
