.content-card {
    text-align:  center;
}

.image-show {
     margin-bottom: 20px;
}

.app-rating-custom {
    margin-top: 20px;
}

.like-button {
    color: white!important;
    background: #3f51b5!important;
}