<div class="panel panel-inverse">
	<div class="panel-heading">
		<h4>{{show.name}}</h4>
	</div>
	<div class="panel-body content-card">
		<div class="image-show">
			<img src="{{show.image.medium}}" alt="{{show.name}}" title="{{show.name}}" 
			 	 data-toggle="modal" data-target="#complete-dialog"
				 (click)="detail()" />
		</div>
		<div class="app-rating-custom">
			<app-rating [stars]="show?.rating?.average / 2"></app-rating>
		</div>
		<button type="button" class="btn btn-default btn-raised"
				data-toggle="modal" data-target="#complete-dialog"
				(click)="detail()">Detail</button>
		<button type="button" class="btn btn-default btn-raised like-button"
				data-toggle="modal"
				(click)="like(show)">Like</button>
	</div>
</div>